@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

li{
  list-style-type: none;
}

button{
  border: none;
  outline: none;
}

h1 {
  @apply text-[27px] font-[600] leading-[37px]
}

h2{
  @apply text-[24px] font-[600] leading-[33px] 
}
h3{
  @apply text-[21px] font-[600] leading-[29px] 
}
h4{
  @apply text-[19px] font-[600] leading-[140%] 
}
h5{
  @apply text-[17px] font-[500] leading-[150%] 
}
h6{
  @apply text-[15px] font-[500] leading-[150%]
}

p{
  @apply text-text-70 text-[15px] leading-[22.5px] font-[400];
}

.paint-green {
  @apply bg-accent-70 text-white p-[2px]
}

